<section class="produtos-container">
  
  <div class="conteudo">
    <aside class="heade">
      <h1>Descreva o item que deseja descartar</h1>
    </aside>
    <div class="caixa-incons">

      <aside class="incons">
        <span class="phone-green"><img src="/assets/svg/phone.svg" alt="phone" /></span>
        <input type="radio" name="tipoItem" id="phoneRadio" />
      </aside>

      <aside class="incons">
        <span class="tv-Brown"><img src="/assets/svg/tv.svg" alt="tv" /></span>
        <input type="radio" name="tipoItem" id="tvRadio" />
      </aside>

      <aside class="incons">
        <span class="blender-Blue"><img
            src="/assets/svg/blender.svg"
            alt="blender"
          /></span>
        <input type="radio" name="tipoItem" id="blenderRadio" />
      </aside>

      <aside class="incons">
        <span class="fridge-White"><img
            src="/assets/svg/fridge.svg"
            alt="fridge"
          /></span>
        <input type="radio" name="tipoItem" id="fridgeRadio" />

      </aside>
    </div>

    <div class="caixa-descricao">
      <textarea
        name="descricao"
        id="descricao"
        cols="45"
        rows="10"
        placeholder="descrição do produto, marca, peças, etc..."
      ></textarea>
    </div>

    <div class="adc-Photo">
      <form class="form" action="/upload" method="post" id="fileForm">
        <input
          type="file"
          name="fileInput"
          id="fileInput"
          accept=".png, .jpeg"
        />
        <span><img src="/assets/svg/camera.svg" alt="Adiconar foto" /></span>
      </form>
      <div id="preview"></div>
    </div>

    <div class="informacoes">
      <h3>Você deseja:</h3>
      <div class="info1">
        <input
          type="radio"
          name="desejo"
          value="descartar"
          id="descartarRadio"
        />
        <label for="descartarRadio">Descartar o item corretamente</label>
      </div>
      <div class="info2">
        <input type="radio" name="desejo" value="vender" id="venderRadio" />
        <label for="venderRadio">Vender o item/peças do item ainda em
          funcionamento</label>
      </div>
      <div class="btn">
        <button type="submit" id="submit">Submit</button>
      </div>

      <p id="validationMessage" style="color: red;"></p>
      <p id="successMessage" style="color: green;"></p>
    </div>
  </div>

  <div class="conteudo-map">
    <h1>Localização</h1>
    <div class="caixa-mapid">
      <div id="mapid"></div>
    </div>
    <p>O Dono do estabelecimento/comprador será notificado do encaminhamento do
      item no local selecionado</p>
  </div>
</section>

<script src="/js/map.js"></script>

