<section class="opcoes">
    <div class="titulo">
      
        <h1><a href="/">  <i class="bi bi-reply-fill"></i></a>
            Bem vindo(a) a página de cadastro</h1>
    </div> 
     <h3>Como deseja se cadastrar?</h3>

<article class="cadastro">
    <article>
<i class="bi bi-person-fill"></i>
<h1><a href="/cadastroUsuario">Usuário</h1></a>
<p>Pretendo usar o site para reciclar/vender/trocar meu lixo eletrônico corretamente para preservar o meio ambiente</p>
<span>Não há cobrança de taxas adicionais.</span>

<img src="/assets/svg/🦆 icon _Seedling_Green.svg" alt="">
</article>
<div class="line"></div>
    <article>
<i class="bi bi-building-fill"></i>
<h1><a href="/empresa">Empresa</a></h1>
<p>Pretendo usar o site para registrar minha empresa para parceria(s) ou meu local de descarte/compra/troca de lixo eletrônico.</p>
<span>Sujeito a cobranças adicionais pela taxa de uso do site</span>
<img src="/assets/svg/🦆 icon _Agriculture_.svg" alt="">
    </article>
</article>
</section>