<footer id="footer">
    <h1>Mapa do Site <i class="bi bi-chevron-right"></i> </h1>

  <section class="links">
      <ul>
    <li><a href="/">Quem somos</a></li>
    <li><a href="/">Descarte Correto</a></li>
    <li><a href="#">Investidores<i class="bi bi-box-arrow-in-up-right"></i></a></li>
    <li><a href="/efeito">Como isso Afeta<i class="bi bi-box-arrow-in-up-right"></i></a></li>
</ul>

    <ul>
        <li><a href="/assinatura">Assinatura para empresas<i class="bi bi-box-arrow-in-up-right"></i></a></li>
        <li><a href="/opcoes">Cadastro<i class="bi bi-box-arrow-in-up-right"></i></a></li>
        <li><a href="/locais">Locais<i class="bi bi-box-arrow-in-up-right"></i></a></li>
        <li><a href="/opcoes">Registre seu E-lixoLocais<i class="bi bi-box-arrow-in-up-right"></i></a></li>
        <li><a href="/motivoDescarte">Porquê realizar o Descarte<i class="bi bi-box-arrow-in-up-right"></i></a></li>
    </ul>

   <div class="ajuda">
    <ul>
        <li><a href="#"><i class="bi bi-chat-fill"></i> Chat Online</a></li>
        <li><a href="#"><i class="bi bi-envelope-fill"></i> E-mail<i class="bi bi-box-arrow-in-up-right"></i></a></li>
        <li><a href="#"><i class="bi bi-telephone-fill"></i>Fale Conosco<i class="bi bi-box-arrow-in-up-right"></i></a></li>
    </ul>
   </div>
  </section>

  <section class="redesSociais">
<p>@Copyright Todos os direitos reservados &copy;</p>
<div class="icon">
    <button><a href="#"><i class="bi bi-facebook"></i></a></button>
    <button><a href="#"><i class="bi bi-twitter-x"></i></a></button>
    <button><a href="#"><i class="bi bi-youtube"></i></a></button>
    <button><a href="#"><i class="bi bi-instagram"></i></a></button>
</div>
  </section>
</footer>