    <main>
        <!-- Itens colocados para mostrar ao passo que a empresa/local for cadastrado -->
        <section class="Destaque">
            <header>
                <h1>Locais com melhores avaliações em destaque</h1>
            </header>
            <article class="localDestaque">
                <div class="empresa">
                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/img/Rectangle 52.png" alt="">
                    </button>
                    <p>Coopvila <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
                <div class="empresa">
                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/img/Rectangle 53.png" alt="">
                    </button>
                    <p>Coopel <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
                <div class="empresa">
                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/img/Rectangle 54.png" alt="">
                    </button>
                    <p>Cooplum <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
                <div class="empresa">
                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/img/Rectangle 55.png" alt="">
                    </button>
                    <p>Coopenorte <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
                <div class="empresa">
                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/img/Rectangle 56.png" alt="">
                    </button>
                    <p>Cataunidos <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
            </article>
        </section>
        <section class="Troca">
            <header>
                <h1>Trocas e vendas</h1>
            </header>
            <article class="trocasVendas">
                <div class="empresa">
                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/svg/🦆 icon _Alternate Map Marker_.svg" alt="">
                    </button>
                    <p>Nome <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
                <div class="empresa">

                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/svg/🦆 icon _Alternate Map Marker_.svg" alt="">
                    </button>
                    <p>Nome <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
                <div class="empresa">
                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/svg/🦆 icon _Alternate Map Marker_.svg" alt="">
                    </button>
                    <p>Nome <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
                <div class="empresa">
                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/svg/🦆 icon _Alternate Map Marker_.svg" alt="">
                    </button>
                    <p>Nome <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
                <div class="empresa">
                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/svg/🦆 icon _Alternate Map Marker_.svg" alt="">
                    </button>
                    <p>Nome <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
            </article>
        </section>
        <section class="Proximo">
            <header>
                <h1>Locais próximos de você</h1>
            </header>
            <article class="proximos">
                <div class="empresa">
                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/svg/🦆 icon _Alternate Map Marker_.svg" alt="">
                    </button>
                    <p>Nome <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
                <div class="empresa">
                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/svg/🦆 icon _Alternate Map Marker_.svg" alt="">
                    </button>
                    <p>Nome <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
                <div class="empresa">
                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/svg/🦆 icon _Alternate Map Marker_.svg" alt="">
                    </button>
                    <p>Nome <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
                <div class="empresa">
                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/svg/🦆 icon _Alternate Map Marker_.svg" alt="">
                    </button>
                    <p>Nome <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
                <div class="empresa">
                    <button class="btn-empresa" data-modal="myModal">
                        <img src="/assets/svg/🦆 icon _Alternate Map Marker_.svg" alt="">
                    </button>
                    <p>Nome <img src="/assets/svg/🦆 icon _verify_.svg" alt=""></p>
                </div>
            </article>
        </section>
<!-- modal -->
        <dialog>
             <button onclick="Fechar()" id="cancel" type="reset"><i class="bi bi-x-circle"></i></button>
             <!-- Empresa de exemplo -->
            <article class="info">
                
                <div class="infoEmp">
                    <h1>Nome da empresa</h1>
                    <p class="descricao">Desde 2001, com o apoio do Fórum Lixo e Cidadania de Alagoas, CEASB e UNICEF aconteceram vários encontros, eventos e mobilizações orientadas por um objetivo comum: a necessidade de encontrar uma saída para os catadores que trabalhavam em condições extremamente insalubres no lixão de Maceió e a erradicação do trabalho infantil.
                        </p>
                    <h4>
                     <strong>   Endereço:</strong> Vila Emater - R. A, S/N - Jacarecica, Maceió - AL, 57038-640
                    </h4>
                    <h4>
                        <strong>Horas:</strong> Fechado ⋅ Abre sáb. às 07:00

                    </h4>
                    <h4><strong>Telefone:</strong> (82) 3013-1703</h4>
                    <button><a href="/produtos">Cadastrar meu item</a></button>

                </div>
                <!-- imagem da empresa -->
                <img src="/assets/img/Rectangle 54.png" alt="">

            </article>
           
        </dialog>
    </main>
    <script src="/js/index.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>