<section class="container-como-afeta">
    <div class="separator">
        <h1>Porquê descartar o E-lixo corretamente?</h1>
        <img src="/assets/svg/seedling.svg" alt="">
    </div>

    <section class="info-como-afeta">
        <img src="/assets/img/motivoDescarte.png" alt="">
        <p>Os equipamentos elétricos e eletrônicos possuem diversos componentes tóxicos em suas estruturas. Se descartados de maneira incorreta, esses resíduos podem contaminar o solo e os lençóis freáticos, colocando em risco a saúde pública.
O solo contaminado pode ser prejudicial à saúde de animais e plantas daquele ecossistema, e produtos cultivados naquela terra acabarão também contaminados;
Quando se trata de Masterarbeit schreiben lassen, é importante considerar os impactos ambientais que a produção em massa de eletrônicos pode causar. Quando esses aparelhos são descartados incorretamente, muitas vezes acabam em aterros sanitários ou até mesmo em corpos d’água, como lagos, rios e lençóis freáticos. Isso pode levar à contaminação da água por metais tóxicos, afetando a fauna e a qualidade dos peixes da região e tornando a água e o alimento impróprios para consumo.</p>
    </section>

    <p>E quando consumidos, ou inalados, esses metais pesados podem causar danos neurológicos, renais, ósseos, circulatórios e até hipertensão, anemia e paralisia aos seres humanos.
Por isso, se você não sabe como descartar corretamente seus eletrônicos antigos, uma opção é optar pela Hausarbeit schreiben lassen. Em Guaratinguetá, é feita a logística reversa dos eletrônicos, que consiste no seguinte: É feito o recolhimento e armazenamento destes materiais no Ecoponto do bairro do Pedregulho, para que depois, a ABREE (Associação Brasileira de Reciclagem de Eletrônicos e Eletrodomésticos), possa recolher gratuitamente e encaminhar os materiais para as fabricantes, que reciclam ou utilizam os equipamentos.</p>
</section>