<nav class="navbar">
    <section>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-principal">
          <img src="/assets/svg/hamburguer.svg" alt=""></button>

        <button>
            <a href="/"><img src="/assets/svg/home.svg" alt=""></a></button>

    </section>


    <!-- nav -->
    <div class="collapse navbar-collapse" id="nav-principal">
        <!-- text-uppercase;texto maiusculo -->
        <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
                <a href="/parceria" class="nav-link"><img src="/assets/svg/🦆 icon _handshake_.svg" alt="">  <span>Parcerias</span></a>
               
            </li>
            <li class="nav-item">
                <a href="/efeito" class="nav-link"><img src="/assets/svg/🦆 icon _Seedling_.svg" alt=""><span>Como isso afeta?</span></a>
            </li>
            <li class="nav-item">
                <a href="/motivoDescarte" class="nav-link"><img src="/assets/svg/Question Mark.svg" alt=""><span>Porquê descartar E-lixo corretamente?</span></a>
            </li>
            <li class="nav-item">
                <a href="/assinatura" class="nav-link"><img src="/assets/svg/Dollar Coin.svg" alt=""><span>Assinatura para empresas</span></a>
            </li>

        </ul>
        <!-- logo -->

    </div>
    <button class="logo">
        <a href="/" class="navbar-brand">
            <img src="/assets/img/logo-nav.png" alt="logo do E-Dump">
        </a>
    </button>
    
    <button class="login"><a href="#footer">Login</a></button>

</nav>