<section class="container-home">
    <section class="img-home">
        <img src="/assets/img/img-home.png" alt="">
    </section>
    <section id="inicio" class="texto-home">
        <section class="title-home">
            <h1>Bem-Vindo Ao E-Dump</h1>
            <img src="/assets/img/logo.png" alt="">
        </section>
        <p>Num mundo cada vez mais conectado, a tecnologia desempenha um papel vital nas nossas vidas, impulsionando a inovação e o progresso. No entanto, este rápido desenvolvimento tecnológico tem um lado desagradável: um enorme aumento do lixo eletrônico, que nos coloca à beira de uma crise ambiental global.Portanto, o E-Dump surge como uma resposta consciente e proativa a este desafio. Com o compromisso de transformar o descarte irresponsável de eletrônicos em oportunidades sustentáveis, nossa iniciativa visa envolver todos nesta missão, desde as empresas que já atuam nesta área até a própria população.</p>
    </section>
</section>

<section class="classes-lixo-container">
    <h1>Como descartar eletrônicos de forma segura e com responsabilidade.</h1>

    <section class="classes-lixo">
        <section class="columns-container">
            <section class="column green">
                <img class="square" src="/assets/svg/green-square.svg" alt="">
                <p>Celulares, notebooks, impressoras, tablets, mouses, teclados, computadores de mesa, carregadores, fones de ouvido, cabos, pilhas, baterias, etc.</p>
                <img class="dump" src="/assets/svg/green-dump.svg" alt="">
            </section>
            <section class="column brown">
                <img class="square" src="/assets/svg/brown-square.svg" alt="">
                <p>Tvs, Equipamentos de DVD/VHS, aparelhos de som, filmadoras, monitores de tubo, LCD e LED.</p>
                <img class="dump" src="/assets/svg/brown-dump.svg" alt="">
            </section>
            <section class="column blue">
                <img class="square" src="/assets/svg/blue-square.svg" alt="">
                <p>Eletrodomésticos portáteis em geral, como batedeiras, liquidificadores, ferros elétricos, secadores de cabelo.</p>
                <img class="dump" src="/assets/svg/blue-dump.svg" alt="">
            </section>
            <section class="column white">
                <img class="square" src="/assets/svg/white-square.svg" alt="">
                <p>Objetos de grande porte, como geladeiras, fogões, máquinas de lavar, Ar-condicionado, Micro-ondas, Frigobar.</p>
                <img class="dump" src="/assets/svg/white-dump.svg" alt="">
            </section>
        </section>
    </section>
</section>

